<div class='container'>

	
	<table class="table table-hover">

		<tr>
			<th scope = 'col'>Item Name</th>
			<th scope = 'col'>Item Note</th>
			<th scope = 'col'>Delete</th>
		
			
		</tr>

		<tbody>
			<tr *ngFor='let todo of todos ; let i = index'>
			
				
				<td   *ngIf="todo.todosStatu == 0" > {{ todo.todosDescription }} </td>
				<td   *ngIf="todo.todosStatu == 0" > {{ todo.todosName }} </td>
				
			
			<td  *ngIf=" todo.todosStatu == 0 "  >	
					<button   class ='btn btn-outline-primary btn-sm' (click) = 'clickComplete(todo)'> Complete </button>
			</td>
	

			</tr>

		</tbody>
	</table>
	<br>