<div class='container'>

    <h3 >Tamamlanmamışlar</h3>
  
    <table class="table table-hover">
  
      <tr>
        <th scope = 'col'>Liste Adı</th>
        <th scope = 'col'>Liste Açıklaması</th>
        <th scope = 'col'>Listeyi Göster</th>
        <th scope = 'col'>Ekle Yap</th>
        <th scope = 'col'>Tamamla</th>
  
      
        
      </tr>
  
      <tbody>
        <tr *ngFor='let list of lists ; let i = index'>
        
          <td *ngIf="list.listStatu == 0"> 
            {{ list.listName }}		
          </td>
          <td *ngIf="list.listStatu == 0"> 
            {{ list.listDescription }} 
          </td>
            
          <td *ngIf="list.listStatu == 0">	
            <button   class = 'btn btn-outline-primary btn-sm' (click) = 'clickProfile(list)'>Göster</button>
          </td>
    
          <td *ngIf="list.listStatu == 0">	
            <button   class = 'btn btn-outline-primary btn-sm' (click) = 'clickOlustur(list)'>Ekle</button>
          </td>
    
          <td *ngIf="list.listStatu == 0">	
            <button   class = 'btn btn-outline-primary btn-sm' (click) = 'clickComplete(list)'>Bitir</button>
          </td>
  
        </tr>
  
      </tbody>
    </table>
    <br>