<div class='container'>

    <h3 >Tamamlanmış Listeler</h3>
  
    <table class="table table-hover">
  
      <tr>
        <th scope = 'col'>Liste Adı</th>
        <th scope = 'col'>Liste Açıklaması</th>
        
      
        
      </tr>
  
      <tbody>
        <tr *ngFor='let list of lists ; let i = index'>
        
        <td> 
          {{ list.listName }}		
        </td>
        <td> 
          {{ list.listDescription }} 
        </td>
          
        
  
        </tr>
  
      </tbody>
    </table>
    <br>